<style>
  .field label { width:160px; }
  .actions { padding-left:165px; }
</style>

<h2>Change Password</h2>

<%= form_for( @user, :url => update_account_home_path ) do |f| %>

<% unless @user.errors.empty? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= label_tag :username %>
    <%= @user.username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>

  <div class="actions">
    <%= hidden_field_tag 'from', 'change_password' %>
    <%= f.submit 'Save' %>
  </div>

<% end %>

