<h2>Change Password</h2>

<%= form_for(@user, :url => change_password_home_path(@user)) do |f| %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>

  <div class="field">
    <%= label_tag :username %>
    <%= :username %>
  </div> 

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :current_password %>
  </div>
    
  <div class="actions">
    <%= f.submit 'Save' %>
    <%= f.reset 'Reset', :class => 'button' %>
  </div>
  
<% end %>

