<div style="float:left;">
  <table class="list members">
    <thead>
      <tr>
        <th>User / Group</th>
        <th>Roles</th>
        <th style="width:15%"></th>
      </tr>
    </thead>
    <tbody>
    <% @members.each do |member| %>
      <tr class="member" id="row-<%= member.id %>">
        <td class="user"><a href="<%= admin_user_path( member.id ) %>"><%= member.user.fullname %></a></td>
        <td class="roles">
          <span id="roles-<%= member.id %>"><%= member.role_id %></span><br/>

          <%= form_tag 'add/member', :id => %Q[form-#{member.id}], :style => 'display:none;' do %>
            <% @roles.each do |role| %>
              <%= check_box_tag 'role[]', role.name, (not member.role_id.scan(role.name).empty?) %>
              <%= role.name %><br/>
            <% end %>
            <a id="<%= member.id %>_submit" onclick="updateMember(<%= member.id %>)">Change</a>
            <a class="button" onclick="hide(<%= member.id %>)">Cancel</a>
          <% end %>

        </td>
        <td class="buttons">
            <a href="#" onclick="show(<%= member.id %>)" class="icon icon-edit">Edit</a>
            <a title="Delete" href="<%= delete(admin_project_remove_member_path(member.id), 'Remove Member', "removeMember(#{member.id})") %>" class="icon icon-del">Delete</a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= form_tag 'add/member', :id => 'member_form', :style => "float:right;" do %>
  <fieldset>
    <legend>Members</legend>
    <% @users.each do |user| %>
      <%= check_box_tag 'member[]', user.id %>
      <%= user.fullname %><br/>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Roles</legend>
    <% @roles.each do |role| %>
      <%= check_box_tag 'role[]', role.name %>
      <%= role.name %><br/>
    <% end %>
  </fieldset>
  <br/>
  <a id="member_submit" onclick="addMember();">Add</a>
<% end %>

<script>
	$('[id$="_submit"], .button').button();
</script>
