<div style="float:left;">
  <table class="list members">
    <thead>
      <tr>
        <th>User / Group</th>
        <th>Roles</th>
        <th style="width:15%"></th>
      </tr>
    </thead>
    <tbody>
    <% @project.all_members.each do |member| %>
      <tr class="member" id="row-<%= member.user_id %>">
        <td class="user">
          <a href="<%= admin_user_path( member.user_id ) %>">
            <%= member.user.fullname %>
          </a>
        </td>
        <td class="roles">
          <span id="roles-span"><%= member.role_name %></span><br/>

          <%= form_tag 'add/member', :id => %Q[form-#{member.user_id}], 
                                     :style => 'display:none;' do %>
            <% @roles.each do |role| %>
              <%= check_box_tag 'role[]', role.id, 
                            (not member.role_id.scan(role.id.to_s).empty?) %>
              <%= role.name %>
              <br/>
            <% end %>
            <a id="<%= member.id %>_submit" onclick="updateMember(<%= member.user_id %>)">Save</a>
            <a class="button" onclick="hide(<%= member.user_id %>)">Cancel</a>
          <% end %>

        </td>
        <td class="buttons">
            <a href="#" onclick="show(<%= member.user_id %>)" class="icon icon-edit">Edit</a>
            <a title="Remove" href="<%= delete('#remove', 'Remove Member', "removeMember(#{member.user_id})") %>" class="icon icon-del">Remove</a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= form_tag 'add/member', :id => 'member_form', :style => "float:right;" do %>
  <fieldset>
    <legend>Members</legend>
    <% @users.each do |user| %>
      <%= check_box_tag 'member[]', user.id %>
      <%= user.fullname %><br/>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Roles</legend>
    <% @roles.each do |role| %>
      <%= check_box_tag 'role[]', role.id %>
      <%= role.name %><br/>
    <% end %>
  </fieldset>
  <br/>
  <a id="member_submit" onclick="addMember();">Add</a>
<% end %>

<script>
	$('[id$="_submit"], .button').button();
</script>
