<%= render 'navigation' %>
<h1>Editing Project</h1>

<div class="tabs">
  <ul>
    <li><a class="" href="#info" id="tab-info">Information</a></li>
    <li><a class="selected" href="#members" id="tab-members">Members</a></li>
  </ul>
</div>

<div class="tab-div" id="info" style="display:none;">
  <%= form_for(@project, :url => admin_project_path(@project)) do |form| %>
    <%= render :partial => 'form', :locals => { :f => form, :project => @project } %>

    <div class="actions">
      <%= form.submit 'Update' %>
      <%= link_to 'Show', admin_project_path(@project), :class => 'button' %>
      <%= link_to 'Cancel', admin_projects_path, :class => 'button' %>
    </div>
  <% end %>
</div>

<div class="tab-div" id="members">
  <%= render 'members' %>
</div>

<script>
  $('.tabs > ul > li > a').click(function() {
    $('.tabs > ul > li > a').removeClass('selected');
    $(this).addClass('selected');

    $('.tab-div').fadeOut();
    $($(this).attr('href')).fadeIn();
  });

  function addMember() {

    $.loading('Adding member');

      $.ajax({
          url: '<%= admin_project_add_member_path(@project) %>',
          type: 'POST',
          data: $('#member_form').serialize(),
          dataType: 'text',
          complete: function(xhr) {
            eval(xhr.responseText);
            $.finished('Member added');
          }
      });
  };

  updateUrl = '<%= admin_project_update_member_path @project.id %>';
  removeUrl = '<%= admin_project_remove_member_path @project.id %>';

  function show(member_id)
  {
    $('#form-' + member_id).fadeIn();
  }

  function hide(member_id)
  {
    $('#form-' + member_id).fadeOut();
  }

  function removeMember(id)
  {
    $.loading('Removing member');

    $.ajax({
      url: removeUrl.replace('<%= @project.id %>', id),
      type: 'POST',
      data: '_method=DELETE',
      dataType: 'text',
      complete: function(xhr) {
        eval(xhr.responseText);
        $.finished('Record Deleted');
      }
    });
  }

  function updateMember(memberId)
  {
    $.loading('Updating member');
    
    $.ajax({
      url: updateUrl.replace('<%= @project.id %>', memberId),
      type: 'post',
      data: $('#form-' + memberId).serialize() + '&_method=put',
      dataType: 'text',
      complete: function(xhr) {
				eval(xhr.responseText);
        $.finished('Member updated')
      }
    });
  }

</script>
