<%= render 'navigation' %>

<h2>Edit Project</h2>

<div class="tabs">
  <ul>
    <li><%= link_to 'Information', '#info', :class => "selected",
              :id => "tab-info" %></li>
    <li><%= link_to 'Members', '#members', :id => "tab-members" %></li>
  </ul>
</div>

<div class="tab-div" id="info">
  <%= form_for(@project, :url => admin_project_path(@project)) do |form| %>
    <%= render :partial => 'form', :locals => { :f => form, :project => @project } %>

    <div class="actions">
      <%= form.submit 'Update' %>
      <%= link_to 'Show', admin_project_path(@project), :class => 'button' %>
      <%= link_to 'Cancel', admin_projects_path, :class => 'button' %>
    </div>
  <% end %>
</div>

<div class="tab-div" id="members" style="display:none;">
  <%= render 'members' %>
</div>

<script>
  $('.tabs > ul > li > a').click(function() {
    $('.tabs > ul > li > a').removeClass('selected');
    $(this).addClass('selected');

    $('.tab-div').fadeOut();
    $($(this).attr('href')).fadeIn();
  });

  function addMember() 
  {
    $.loading('Add Member');

      $.ajax({
          url: '<%= admin_project_add_member_path(@project) %>',
          type: 'POST',
          data: $('#member_form').serialize(),
          dataType: 'text',
          complete: function(xhr) {
            eval(xhr.responseText);
            $.finished('Member successfully added');
          }
      });
  };

  function show(member_id)
  {
    $('#form-' + member_id).fadeIn();
  }

  function hide(member_id)
  {
    $('#form-' + member_id).fadeOut();
  }

  function removeMember(id)
  {
    $.loading('Remove Member');

    $.ajax({
      url: '<%= admin_project_remove_member_path @project.id %>',
      type: 'POST',
      data: '_method=put&id=' + id,
      dataType: 'text',
      complete: function(xhr) {
        eval(xhr.responseText);
        $.finished('Member successfully removed');
      }
    });
  }

  function updateMember(memberId)
  {
    $.loading('Update Member');
    
    $.ajax({
      url: '<%= admin_project_update_member_path @project.id %>',
      type: 'post',
      data: $('#form-' + memberId).serialize() + '&id=' + id + '&_method=put',
      dataType: 'text',
      complete: function(xhr) {
				eval(xhr.responseText);
        $.finished('Member successfully updated')
      }
    });
  }

</script>
