<%= render 'navigation' %>
<h1>Editing Project</h1>

<div class="tabs">
  <ul>
    <li><a class="" href="#info" id="tab-info">Information</a></li>
    <li><a class="selected" href="#member" id="tab-member">Members</a></li>
  </ul>
</div>

<div class="tab-div" id="info" style="display:none;">
  <%= form_for(@project, :url => admin_project_path(@project)) do |form| %>
    <%= render :partial => 'form', :locals => { :f => form, :project => @project } %>

    <div class="actions">
      <%= form.submit 'Update' %>
      <%= link_to 'Show', admin_project_path(@project), :class => 'button' %>
      <%= link_to 'Cancel', admin_projects_path, :class => 'button' %>
    </div>
  <% end %>
</div>

<div class="tab-div" id="member">
  <fieldset>
    <legend>Members</legend>
    <% @users.each do |user| %>
      <%= check_box_tag 'member', user.id %>
      <%= user.fullname %><br/>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Roles</legend>
    <% @roles.each do |role| %>
      <%= check_box_tag 'role', role.id %>
      <%= role.name %><br/>
    <% end %>
  </fieldset>
  <br/>

  <a id="member_submit">Add</a>
</div>

<script>
  $('.tabs > ul > li > a').click(function() {
    $('.tabs > ul > li > a').removeClass('selected');
    $(this).addClass('selected');

    $('.tab-div').fadeOut();
    $($(this).attr('href')).fadeIn();
  });

  $('#member_submit').click(function() {
    $.ajax({
        url: '<%= add_member_admin_projects_path %>',

    })
  });
</script>
