<%= render 'navigation' %>

<h1>Project Listing</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Display</th>
    <th colspan="3">Actions</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= project.name %></td>
    <td><%= (project.display) ? 'Yes' : 'No' %></td>
    <td><%= link_to 'Show', admin_project_path(project) %></td>
    <td><%= link_to 'Edit', edit_admin_project_path(project) %></td>
    <td><%= link_to 'Destroy', admin_project_path(project.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

