<%= render 'navigation' %>

<h2>Projects</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Display</th>
    <th colspan="3">Actions</th>
  </tr>

<% @projects.each do |project| %>
  <tr id="row-<%= project.id %>">
    <td><%= project.id %></td>
    <td><%= link_to project.name, admin_project_path(project) %></td>
    <td><%= (project.display) ? 'Yes' : 'No' %></td>
    <td><%= link_to 'Edit', edit_admin_project_path(project) %></td>
    <td><%= link_to 'Destroy',
            delete(admin_project_path(project.id), 'Delete Project') %></td>
  </tr>
<% end %>
</table>

<br />

