<%= render 'navigation' %>

<h2>Show Project</h2>

  <div class="field">
    <%= label_tag 'Name' %>
    <%= @project.name %>
  </div>

  <div class="field">
    <%= label_tag 'Description' %>
    <%= @project.description %>
  </div>


  <div class="field">
    <%= label_tag 'Display?' %>
    <%= (@project.display) ? 'Yes': 'No' %>
  </div>

  <div class="actions">
    <%= link_to 'Edit', edit_admin_project_path(@project), :class => 'button' %>
    <%= link_to 'Back', admin_projects_path, :class => 'button' %>
  </div>
