
<h2>Project</h2>
<div class="field">
  <%= label_tag 'Name' %>
  <%= @project.name %>
</div>
<div class="field">
  <%= label_tag 'Description', nil, :class => 'leftFloat' %>
  <span class="textarea"><%= @project.description %></span>
  <div style="clear:both;"></div>
</div>


<%= link_to 'Back', projects_path, :class => 'button' %>
<br/>
<br/>

<div id="release-list">
  <%= render 'releases/list' %>
</div>

<% if authorize_for_release_crud? @project %>
  <div id="new-release-form" class="hidden">

   <%= render :partial => 'releases/form',
              :locals => {
                :@project => @project,
                :@release => @project.releases.new,
              } %>
  </div>

  <div id="edit-release-form" class="hidden">
  </div>

  <%= link_to 'New Release', 'javascript:newRelease()', :class => 'button' %>

  <%= javascript_tag do %>
    function newRelease()
    {
      $('#new-release-form').dialog({
        resizable: false,
        title: 'New Release',
        height: 'auto',
        width: 'auto',
        modal: true,
        buttons: {
          'Cancel': function() {
            $(this).dialog('close');
          },
          'Save': function() {
            createRelease();
            $(this).dialog('close');
          }
        },
        close: function() {
          $(this).dialog('destroy');
        }
      });
    }

    function createRelease()
    {
      $.loading('Create Release');
      var form = $('#new-release-form > form');

      $.ajax({
        url: form.attr('action'),
        type: 'POST',
        dataType: 'text',
        data: form.serialize(),
        complete: function(xhr) {
          eval(xhr.responseText);
          form[0].reset();
          $.finished('Release successfully saved');
        }
      });
    }

    function findRelease(urlPath)
    {
      $.loading('Retrieving Release');

      $.ajax({
        url: urlPath,
        type: 'GET',
        dataType: 'text',
        complete: function(xhr) {
          eval(xhr.responseText);
          $('#dprocessing').dialog('destroy');
          editRelease();
        }
      });
    }

    function editRelease()
    {
      $('#edit-release-form').dialog({
        resizable: false,
        title: 'Edit Release',
        height: 'auto',
        width: 'auto',
        modal: true,
        buttons: {
          'Cancel': function() {
            $(this).dialog('close');
          },
          'Save': function() {
            updateRelease();
            $(this).dialog('close');
          }
        },
        close: function() {
          $(this).dialog('destroy');
        }
      });
    }

    function updateRelease()
    {
      $.loading('Update Release');
      var form = $('#edit-release-form > form');

      $.ajax({
        url: form.attr('action'),
        type: 'POST',
        dataType: 'text',
        data: form.serialize() + '&method=put',
        complete: function(xhr) {
          eval(xhr.responseText);
          $.finished('Release successfully saved');
        }
      });
    }

    function deleteRelease(urlPath)
    {
      $.loading('Destroying Release');
       $.ajax({
        url: urlPath,
        type: 'POST',
        data: '_method=DELETE',
        dataType: 'text',
        complete: function(xhr) {
          eval(xhr.responseText);
          $.finished('Release successfully destroyed');
        }
      });
    }

  <% end %>
<% end %>
