<h2>Story</h2>

<p id="notice"><%= notice %></p>

<div class="field">
  <%= label_tag 'Title' %>
  <%= @story.name %>
</div>

<div class="field">
  <%= label_tag 'Description', nil, :class => 'leftFloat' %>
  <span class="textarea"><%= @story.description %></span>
  <div style="clear:both;"></div>
</div>

<div class="field">
  <%= label_tag 'Priority' %>
  <%= @story.priority %>
</div>

<div class="field">
  <%= label_tag 'Tags' %>
  <%= @story.tags_s %>
</div>
<div class="field">
  <%= label_tag 'Assigned to' %>
  <%= @story.assigned_with.fullname %>
</div>
<div class="field">
  <%= label_tag 'Status' %>
  <span id="status-field"><%= @story.state %></span>
</div>

<div class="actions">
  <% if authorize_for_story_crud? @release %>
    <%= link_to 'Edit', edit_release_story_path(@release, @story), :class => 'button' %>
  <% end %>
  <%= link_to 'Back', release_path(@release), :class => 'button' %>
</div>

<div id="rating-div">
  <div class="field" id="rating-form">
    <%= form_tag 'rating/1' do %>
      <%= label_tag 'Story Complexity:' %>
      <select name="rate" id="c-rating">
          <%= #[1, 2, 3, 4, 5].reduce('') { |x, y| x << "<option value='#{y}'>#{y}</option>" }
          %>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
      </select>
      <%= link_to 'Rate', 'javascript:void(0)', :onclick => 'submitRating()',
            :class => 'button' %>
    <% end %>
  </div>
  <div class="field">
    <%= label_tag 'Average Rating' %>
    <em id="actual-rating"><%= @story.ratings.average(:rate) %></em>
  </div>
</div>

<div id="status-form">
  <%= form_tag '/projects', :method => :put do %>
    <%= hidden_field_tag :status, '', :id => 'status' %>
  <% end %>
  <br/>
  <div id="status-buttons">
    <%= render_s_buttons @story %>
  </div>
</div>

<% javascript_tag do %>
  function updateStatus(stat)
  {
    $.loading('Update Status');
    $('#status').val(stat);

    $.ajax({
      url: '<%= release_story_update_status_path @release, @story %>',
      type: 'POST',
      data: $('#status-form > form').serialize(),
      dataType: 'text',
      complete: function(xhr) {
        eval(xhr.responseText);
        $.finished('Status successfully set to ' + $('#status-field').html());
      },
      error: function() {
        $.finished('An error has occurred');
      }
    });
  }

  function submitRating()
  {
    $.loading('Submit Rating');

    $.ajax({
      url: '<%= story_add_rating_path @story %>',
      type: 'POST',
      data: $('#rating-form > form').serialize(),
      dataType: 'text',
      complete: function(xhr) {
        eval(xhr.responseText);
        $.finished('Rating successfully saved');
      },
      error: function() {
        $.finished('An error has occurred');
      }
    });
  }
<% end %>

<div id="comment-form">
  <h4> Comments </h4>
  <%= form_for [@story, @comments.new] do |f| %>

    <%= f.text_area :content, :rows => 6, :cols => 60 %>
    <%= f.hidden_field :creator_id, :value => current_user.id %>
    <%= link_to "Post", 'javascript:postComment()', :class => 'button',
                :style => 'vertical-align:top;' %>

  <% end %>
</div>

<% javascript_tag do %>
  function postComment()
  {
    $.loading('Post Comment');
    var form = $('#comment-form > form');

    $.ajax({
      url: form.attr('action'),
      type: 'POST',
      dataType: 'text',
      data: form.serialize(),
      complete: function(xhr) {
        eval(xhr.responseText);
        form[0].reset();
        $.finished('Comment successfully posted');
      },
      error: function() {
        $.finished('An error has occurred');
      }
    });
  }
<% end %>

<br/>

<div id="comments">
  <%= render "comments/list" %>
</div>

