<h2>Story</h2>

<p id="notice"><%= notice %></p>

<div class="field">
  <%= label_tag 'Title' %>
  <%= @story.name %>
</div>

<div class="field">
  <%= label_tag 'Description', nil, :class => 'leftFloat' %>
  <span class="textarea"><%= @story.description %></span>
  <div style="clear:both;"></div>
</div>

<div class="field">
  <%= label_tag 'Priority' %>
  <%= @story.priority %>
</div>

<div class="field">
  <%= label_tag 'Tags' %>
  <%= @story.tags_s %>
</div>
<div class="field">
  <%= label_tag 'Status' %>
  <%= @story.state %>
</div>

<div class="actions">
  <%= link_to 'Edit', edit_release_story_path(@release, @story), :class => 'button' %>
  <%= link_to 'Back', release_path(@release), :class => 'button' %>
</div>

<div id="rating-div">
  <div class="field">
    <%= label_tag 'Story Complexity:' %>
    <select name="c-rating" id="c-rating">
        <%= #[1, 2, 3, 4, 5].reduce('') { |x, y| x << "<option value='#{y}'>#{y}</option>" }  
        %>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <%= link_to 'Rate', 'javascript:void(0)', :onclick => 'submitRating()', 
          :class => 'button' %>
  </div>
  <em>Average Rating: <%= @story.ratings.average(:rate) %></em>
</div>

<% javascript_tag do %>
  function submitRating()
  {
    $.loading('Submit Rating');
    auth = 'authenticity_token=' + encodeURI($('[name="authenticity_token"]')[0].value);
    auth += '&utf8=' + encodeURI($('[name="utf8"]')[0].value);
    
    $.ajax({
      url: '<%= story_add_rating_path @story %>',
      type: 'POST',
      data: auth + '&rate=' + $('#c-rating').val(),
      dataType: 'text',
      complete: function(xhr) {
        eval(xhr.responseText);
        $.finished('Rating successfully saved');
      },
      error: function() {
        $.finished('An error has occurred');
      }
    });
  }
<% end %>

<div id="comment-form">
  <h4> Comments </h4>
  <%= form_for [@story, @comments.new] do |f| %>

    <%= f.text_area :content, :rows => 6, :cols => 60 %>
    <%= link_to "Post", 'javascript:postComment()', :class => 'button', 
                :style => 'vertical-align:top;' %>

  <% end %>
</div>

<script>
  function postComment()
  {
    $.loading('Post Comment');
    var form = $('#comment-form > form');

    $.ajax({
      url: form.attr('action'),
      type: 'POST',
      dataType: 'text',
      data: form.serialize(),
      complete: function(xhr) {
        eval(xhr.responseText);
        form[0].reset();
        $.finished('Comment successfully posted');
      },
      error: function() {
        $.finished('An error has occurred');
      }
    });
  }
</script>

<div id="comments">
  <%= render "comments/list" %>
</div>

