<p id="notice"><%= notice %></p>

<h1>The Story Unfolds</h1>

<!- add notice for when new story is added -!>

<div class="field">
  <%= label_tag 'Title' %>
  <%= label_tag @story.name %>
</div>

<div class="field">
  <%= label_tag 'Details' %>
  <%= label_tag @story.description %>
</div>

<div class="field">
  <%= label_tag 'Priority' %>
  <%= label_tag @story.priority %>
</div>

<div class="field">
  <%= label_tag 'Tags' %>
  <%= label_tag @story.tags_s %>
</div>
<div class="field">
  <%= label_tag 'Status' %>
  <%= label_tag @story.state %>
</div>

<div class="actions">
  <%= link_to 'Edit', edit_release_story_path(@release, @story), :class => 'button' %>
  <%= link_to 'Back', release_path(@release), :class => 'button' %>
</div>

<div id="rating-div">
  <div class="field">
    <%= label_tag 'Story Complexity:' %>
    <select name="c-rating" id="c-rating">
        <%= [1, 2, 3, 4, 5].reduce('') { |x, y| x << "<option value='#{y}'>#{y}</option>" }  %>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <%= link_to 'Rate', 'javascript:void(0)', :onclick => 'submitRating()', 
          :class => 'button' %>
  </div>
  <em>Average Rating: <%= @story.ratings.average(:rate) %></em>
</div>
<script>
  function submitRating()
  {
    $.loading('Submit Rating');
    
    $.ajax({
      url: '<%= story_add_rating_path @story %>',
      type: 'POST',
      data: 'rate=' + $('#c-rating').val(),
      dataType: 'text',
      complete: function(xhr) {
        eval(xhr.responseText);
        $.finished('Rating saved');
      }
    });
  }
</script>

<h4> Comments </h4>

<%= form_tag story_comments_path(@story, @comment_new) ,:method=>"Post", :remote => true do%>

  <div class="field">
    <%= label_tag :content %><br />
    <%= text_area_tag :content %>
  </div>
  <div class="actions">
    <%= submit_tag "Post" %>
  </div>

<% end %>

<div id="comments">
  <%= render "comments" %>
</div>

