
<h2>Release</h2>
<p id="notice"><%= notice %></p>
<div class="field">
  <%= label_tag 'Name:'%>
  <%= @release.name %>
</div>

<div class="field">
  <%= label_tag 'Release date:' %>
  <%= @release.release_date %>
</div>
<br />

<h3>Stories</h3>

<% if authorize_for_story_crud? @release %>
  <%= link_to 'Create Story', new_release_story_path(@release),
        :class => 'button' %>

  <%= javascript_tag do %>
    function deleteStory(urlPath)
    {
      $.loading('Destroy Story');
       $.ajax({
        url: urlPath,
        type: 'POST',
        data: '_method=DELETE',
        dataType: 'text',
        complete: function(xhr) {
          eval(xhr.responseText);
          $.finished('Story successfully destroyed');
        }
      });
    }
  <% end %>
<% end %>
<br/>
<div id="story-list">
  <%= render :partial => 'stories/list' %>
</div>
