<!DOCTYPE html>
<html>
<head>
  <title>Bard</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.5.1.min.js', 'jquery-ui-1.8.13.custom.min.js', 'messages.js'  %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <div id="wrapper2">
      <%= render_top_menu() %>

      <div id="header">
<%
=begin
        <div id="quick-search">
            <form action="/search" method="get">
              <a href="http://demo.redmine.org/search" accesskey="4">Search</a>:
              <input accesskey="f" class="small" id="q" name="q" size="20" type="text">
           </form>
            <select onchange="if (this.value != '') { window.location = this.value; }"><option selected="selected" value="">Jump to a project...</option><option value="" disabled="disabled">---</option><option value="/projects/asdqweasdqwe?jump=overview">Sample Prohect</option></select>
        </div>
=end %>
        <h1>ECC Final Project</h1>
      </div>

      <div id="main">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>


  <div id="ddialog" title="" class="hidden"></div>

  <div id="ddelete" title="" class="hidden" style="text-align: left;">
    <span class="icon icon-info"></span>
    <span>Are you sure you want to <span id="sdelete">delete</span> the selected record?</span>
  </div>

  <div id="dprocessing" title="" class="hidden" style="text-align:left;">
    <div id="dloading">
      <img src="/images/loading.gif" class="unit" />
      &nbsp;&nbsp;&nbsp;&nbsp;Please wait a moment...
    </div>
    <div id="dfinished" class="hidden">
      <p style="vertical-align: top;">
        <span id="ficon" class="icon"></span>
        <span id="fmsg"></span>
      </p>
    </div>
  </div>
  <div class="hidden">
    <%= form_tag '/dummy/1', :id => 'dummy-form' do %>
    <% end %>
  </div>
</body>
</html>
