<h1>New member</h1>

<%= form_for(@member, :url => members_path) do |form| %>
  <%= render :partial => 'form', :locals => { :f => form, :member => @member } %>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'Confirm Password' %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Member' %>
  </div>
<% end %>

<%= link_to 'Back', members_path %>
